<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELIMINAR ALBUM</title>
</head>
<body>
    {%with mensajes=get_flashed_messages()%}
        {% if mensajes %}
            {% for msj in mensajes %}
                 <h3>{{msj}}</h3>
            {%endfor%}
        {%endif%}
    {%endwith%} 
    <H1>Album a Eliminar</H1>
    <br>
    <form action="/delete/{{Album.0}}" method="POST">
        <input type="text" name="txtTitulo"" placeholder="Escribe el titulo" value="{{Album.1}}">
        <input type="text" name="txtArtista" placeholder="Escribe el artista" value="{{Album.2}}">
        <input type="number" name="txtAnio" aria-placeholder="Escribe el año" value="{{Album.3}}">
        <button type="submit">Eliminar</button>
        <button type="submit" href="index.html">A atras</button>
    </form>
</body>
</html>